.idea
*.iml
*.class
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/target/
/.gitignore
/user-profile-analysis.iml
/.idea### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
